<h1>Welcome to the finance tracker app</h1>

<div class="col-sm-6 col-sm-offset-3 text-center"><% if !current_user %>
  <%= link_to "Sign in.", 'users/sign_in' %>
  or
  <%= link_to "Sign up.", 'users/sign_up' %>
<% end %>
</div>
